#container {
    display: flex;
    height: 700px;
    width: 700px;
    border-style: solid;
    border-color: black;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0px;
}

.black {
    background-color: black;
}

[class^="row"]{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: 1;
}

[class^="cell"]{
    display: flex;
    border-style: solid;
    border-color: black;
    text-align: center;
    flex-grow: 1;
}

body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#reset{
    margin-top: 20px;
}

#customGrid{
    text-decoration: none;
    padding: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: bisque;
}